* {
  box-sizing: border-box !important;
}

.input-holder {
    @apply flex flex-col mb-5;
  }

  .half {
    @apply w-1/2 !important;
  }

   .full {
    @apply w-full
  }
  
  .input-holder input,
  textarea, select {
    @apply border cursor-default text-sm py-2 px-5 border-[#E2E8F0] bg-slate-50 rounded-lg my-2 shadow-sm text-[#666];
  }

  .input-holder .like-input {
    @apply border cursor-default text-sm py-2 px-5 border-[#E2E8F0] bg-slate-50 rounded-lg my-2 shadow-sm text-[#666];
  }

  .input-holder .fit {
    height: 2.375rem !important;
    padding: 0rem 1.25rem !important;
  }

  .input-holder .big-fit {
    padding: 1rem 1.25rem !important;
    height:fit-content !important;
  }

  .input-holder input,
  textarea, select {
    @apply focus:outline-none
  }

  .input-holder .label {
    @apply text-sm mb-1 font-normal text-slate-700;
  }

  .css-13cymwt-control {
    background-color: #F8FAFC !important;
  }

  .react-international-phone-input-container .react-international-phone-country-selector-button , .react-international-phone-input-container .react-international-phone-input{
    background-color: #F8FAFC !important;
    height: 2.375rem !important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

  }

  .react-international-phone-input-container .react-international-phone-input {
    margin: auto !important;
  }

  .input-holder .react-international-phone-input-container .react-international-phone-input {
    background-color: #F8FAFC !important;
  }

  .form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px; 
  }
  
  .full-width {
    grid-column: span 2; 
  }
  
  .half-width {
    grid-column: span 1; 
  }