.next
node_modules
notes
notes.md

# local env files
.env
.env*.local
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.venv/
.git/
venv/
*.pyc
Jenkinsfile
README.md
nginx.conf
package-lock.json
