.custom-p {
  font-weight: bold !important;
  font-size: 10px !important;
  margin-top: 3px !important;
}

.custom-2 {
  font-weight: bold !important;
  font-size: 10px !important;
  margin-top: 0px !important;
}
