@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.hide-input-borders input {
  @apply !outline-none !shadow-none focus:!outline-none  !ring-0 focus:!border-transparent focus:!ring-0 focus:!border-none border-white active:!border-0 active:!border-none focus:!border-0 !border-0 !border-none p-0 focus:p-0;
}

.input-custom {
  @apply !outline-none focus:!outline-none !ring-0 focus:!border-transparent focus:!ring-0 focus:!border-none border-white active:!border-0 active:!border-none focus:!border-0 !border-0 !border-none p-0 focus:p-0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @layer components {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.bgImgCenter {
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  background-color: #16a34a;
  background-size: 100% 100%;
  width: 100%;
}

.loginFrame {
  width: 30em;
}

.bg-default-100 {
  @apply !bg-white;
}

.circle {
  background-image: url("/svg/mesh_backgroundcircle.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 85%;
  gap: 2;
}

.login_icon {
  width: 1140%;
  height: 600px;
  left: -81px;
  border-radius: 18px;
  border: 1px;
}

button {
  @apply cursor-pointer;
}

/* CUSTOM SCROLLBARS */
/* width */
/* ::-webkit-scrollbar {
  width: 5px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #99989821;
  border-radius: 10px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #969696;
  border-radius: 10px;
} */

/* .tab-scroll-none::-webkit-scrollbar {
  display: none;
} */

.boxshadow {
  @apply shadow-lg rounded-lg border border-gray-100 bg-white;
}

.btn-outline {
  @apply bg-white border hover:bg-primary-dark hover:text-white flex items-center justify-center gap-2 border-gray-300 shadow-sm text-primary-dark text-sm py-2 px-3 rounded-lg;
}

/* FORM GLOBAL STYLES */
.form-section {
  @apply bg-white min-h-72 relative shadow p-5 rounded-xl mb-10;
}

.form-section h4 {
  @apply text-xl font-bold;
}

.form-section p {
  @apply mb-5 font-light text-sm text-gray-600;
}

/* FORM INPUT STYLES */
.input-holder {
  @apply flex flex-col w-full mb-3;
}

.input-holder input:not([type="checkbox"]):not([type="radio"]),
textarea {
  @apply border w-full py-2 px-5 border-[#E2E8F0] bg-[#fcfdff]  rounded-lg my-1 shadow-sm;
}

.input-holder label {
  @apply text-xs mb-1 font-normal text-slate-700;
}

.form-check-input:checked {
  background-color: #1d4ed8 !important;
  border: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23ffffff'/%3e%3c/svg%3e");
}

.form-check-input {
  cursor: pointer;
  background-size: 60% 60% !important;
  border: 1px solid #2f2f2f;
  border-radius: 3px;
  background-color: transparent;
  fill: none;
  width: 20px;
  height: 20px;
  margin: 0;
  float: none;
  flex-shrink: 0;
  appearance: none;
  background-repeat: no-repeat;
  background-position: center;
}

.form-check-input:focus {
  filter: none;
  background-color: transparent;
}

.css-13cymwt-control {
  background-color: #f8fafc !important;
}
