@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

.bgImgCenter {
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  background-color: #16a34a;
  background-size: 100% 100%;
  width: 100%;
}

.loginFrame {
  width: 30em;
}

.circle {
  background-image: url("/svg/mesh_backgroundcircle.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 85%;
  gap: 2;
}

.login_icon {
  width: 1140%;
  height: 600px;
  left: -81px;
  border-radius: 18px;
  border: 1px;
}

/* CUSTOM SCROLLBARS */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #99989821;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #969696;
  border-radius: 10px;
}

.tab-scroll-none::-webkit-scrollbar {
  display: none;
}

.boxshadow {
  @apply shadow-lg rounded-lg border border-gray-100 bg-white;
}
