.css-1iyq7zh-MuiDataGrid-columnHeaders {
  background-color: #f3f5f6 !important;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 12px;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #16a34a !important;
}

.MuiDataGrid-root {
  z-index: 1;
}

.MuiDataGrid-columnHeaderTitle {
  text-transform: uppercase !important;
}
